@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@theme inline {
  --custom-orange: #FF700099;
  --custom-lightgold: #FF700033;
;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.bg-custom-orange {
  background-color: var(--custom-orange)
}

.text-custom-lightgold{
  color:var(--custom-orange)
}

.bg-custom-lightgold {
  background-color: var(--custom-orange)
}

.text-custom-orange{
  color:var(--custom-orange)
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@variants responsive {

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }


  .no-scrollbar {
    -ms-overflow-style: none;
  }
}


/* SweetAlert2 z-index fix for Material-UI Dialog */
.swal2-container {
  z-index: 9999 !important;
}

.swal-high-zindex {
  z-index: 9999 !important;
}
